<h1>Volunteer Tracker</h1>
<div class="row">
  <div class="col-md-6">

  <h2>Add a Project</h2>
  <form class="" action="/projects/add" method="post">
    <div class="form-group">
      <label for="title">Project Title</label>
      <input type="text" name="title" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Create Project</button>
  </form>
</div>

<div class="col-md-6">
  <% if @projects.any? %>
    <h2>Add a Volunteer</h2>
    <form class="" action="/volunteers/add" method="post">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
      </div>

      <label for="project_ids">Project</label>
      <select name="project_id">
        <% @projects.each do |project| %>
          <option value='<%= project.id %>'><%= project.title %></option>
      <% end %>
      </select>
      <br>
      <button type="submit" class="btn btn-primary">Add Volunteer</button>

    </form>
  <% end %>
  </div>
</div>

<% if @projects.any? %>
  <h2>Project List</h2>
  <ul class="list-group">
    <% @projects.each do |project| %>
      <li class="list-group-item"><a href="projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% end %>
